body{
    background-color: rgb(216, 232, 216);
}

nav{
    background-color: rgb(22, 97, 22);
}



.main{
    background-color: rgb(79, 123, 79); 
}

.icone{
    color: #505756;
}

.titleMain{
    font-weight: 500;
}
a{
    text-decoration: none;
}
.centralizaCont{
  text-align: center;
}

p{
    text-align: justify;
}

/*Index.html*/
.redeSocial i{
    color: white;
  } 
  .alturaCardsCursos{
    width: 100%; 
  } 
  .alturaImgCursos{
    width: 100%;
  }

  .information {
    text-align: center;
  }

  @media (min-width: 1200px){
    .firstRow{
        margin-bottom: 1%;
    }

    .marginBt{
        margin-bottom: 1%;
    }

    .main{
        padding: 20px;
        border-radius: 0.8%;
        margin-bottom: 10%;
    }

    .imagemMain img{
        width: 90%;   
    }

    .marginCards{
        margin-bottom: 2.6%;
      }

    .main{
        padding-inline: 2%;
        padding-bottom: 2%;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px){
    .firstRow{
        margin-bottom: 1%;
    }

    .marginBt{
        margin-bottom: 1%;
    }

    .main{
        padding: 20px;
        border-radius: 0.8%;
        margin-bottom: 10%;
        padding-inline: 2%;
        padding-bottom: 2%;
        width: 100%7
    }

    .imagemMain img{
        width: 90%;   
    }

    .marginCards{
        margin-bottom: 2.6%;
      }

    .card-body h5{
      font-size: 1em;
    }

    .card-body p{
      font-size: 0.7em;
    }
  }

  @media (min-width: 769px) and (max-width: 991px){
    .firstRow{
        margin-bottom: 1%;
    }

    .marginBt{
        margin-bottom: 1%;
    }

    .main{
        padding: 20px;
        border-radius: 0.8%;
        margin-bottom: 10%;
    }

    .imagemMain img{
        width: 90%;   
    }

    .marginCards{
        margin-bottom: 2.6%;
      }

    .main{
        padding-inline: 2%;
        padding-bottom: 2%;
    }

    .card-body h5{
      font-size: 0.7em;
    }

    .card-body p{
      font-size: 0.66em;
    }
  }

  @media (min-width: 456px) and (max-width: 768px){
    .firstRow{
        margin-bottom: 1%;
    }

    .marginBt{
        margin-bottom: 1%;
    }

    .main{
        padding: 20px;
        border-radius: 0.8%;
        margin-bottom: 10%;
    }

    .imagemMain img{
        width: 90%;   
    }

    .marginCards{
        margin-bottom: 2.6%;
      }

    .main{
        padding-inline: 2%;
        padding-bottom: 2%;
    }

    .card-body h5{
      font-size: 1.5em;
    }

    .card-body p{
      font-size: 1em;
    }
  }

  
  @media (max-width: 455px){
    .firstRow{
        margin-bottom: 1%;
    }

    .marginBt{
        margin-bottom: 1%;
    }

    .main{
        padding: 20px;
        border-radius: 0.8%;
        margin-bottom: 10%;
    }

    .imagemMain img{
        width: 90%;   
    }

    .marginCards{
        margin-bottom: 2.6%;
      }

    .main{
        padding-inline: 2%;
        padding-bottom: 2%;
    }

    .card-body h5{
      font-size: 1.5em;
    }

    .card-body p{
      font-size: 1em;
    }
  }